@font-face {
  font-family: 'AtkinsonBold';
  src: url('fonts/Atkinson-Hyperlegible-Bold-102.otf') format('truetype'); /* Legacy iOS */
}

@font-face {
  font-family: 'AtkinsonBoldItalic';
  src: url('fonts/Atkinson-Hyperlegible-BoldItalic-102.otf') format('truetype'); /* Legacy iOS */
}

@font-face {
  font-family: 'Atkinson';
  src: url('fonts/Atkinson-Hyperlegible-Regular-102.otf') format('truetype'); /* Legacy iOS */
}
@font-face {
  font-family: 'AtkinsonItalic';
  src: url('fonts/Atkinson-Hyperlegible-Italic-102.otf') format('truetype'); /* Legacy iOS */
}

@font-face {
  font-family: 'Sporting';
  src: url('fonts/SportingGrotesque-Legible-Bold.woff2') format('woff2'); /* Legacy iOS */
}
html{

}
*{
	box-sizing: border-box;
}
:root{
	--bg:rgb(255,255,102);
	--bg:white;
	--text:rgb(0, 169, 92);
	/*--text:black;*/
	--lineH:11px;
	/*--text:black;*/
}


/*-- GENERAL */


html, body{
	margin: 0;
	padding: 0;
	background: lightgrey;
}

.grid{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	display: block;
	visibility: hidden;	
}

.grid.show{
	visibility: visible;
}

.flyer{
	background: white;
	margin: 0 auto;
	width: 21cm;
	height: 29.7cm;
	
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	background-color: var(--bg);
	color: var(--text);
	margin-bottom: 44px;
	position: relative;
}


.flyer > div:not(.grid){

/*border: 1px solid black;*/
height: 100%;
border: 1px solid lightgrey;
border-collapse: collapse;
position: relative;
padding: 20px; /*5mm*/
padding-top: 28px;
box-sizing: border-box;
}


.recto h1{
text-align: center;
margin-top: -16px;
font-size: 16px;
font-size: 19px;
}

#logo{

	width: 80%;
	display: block;
	margin:0 auto;
	margin-top: -28px;
	/*position: absolute;
	left: 1cm;
	top: 1cm;*/
	/*transform:rotate(-20deg);*/
}

pre{
	font-size: 17px;
	position: absolute;
	font-family: 'Sporting';
	line-height: calc(var(--lineH) * 2.1);
	z-index: 10000;
}
/*#nuage{
	position: absolute;
	top: 0;
	left: 0;
}*/

pre#pre_1{
	top: 1.45cm;
	left: 0cm;
}

pre#pre_2{
	bottom: 0cm;
	left: 5cm;
	height: max-content;
	margin:0;
	position: absolute;
	display: none;
}
#flyer_a4 > div.recto{
	grid-template-rows: 50% 50%;
	display:grid;
	padding-bottom: 0;

}
#flyer_a4{
	line-height: calc(var(--lineH) * 2);
}

#flyer_a4 > div.recto > div{
	/*border: 1px solid red;*/

}


#cache1{
      width: 0.5cm;
    height: 0.45cm;
    background-color: var(--bg);
    position: absolute;
    top: 0.58cm;
    left: 8.17cm;
    display: block;
    border-radius: 54%;
}

#cache2{
     width: 1.06cm;
    height: 0.5cm;
    background-color: var(--bg);
   /* background-color: red;*/
    position: absolute;
    top: 1.95cm;
    left: 5.47cm;
    display: block;
    border-radius: 30%;
}
#date{
	font-size: 16px;
	font-family: 'AtkinsonBold';
	display: none;
}

#flyer_a5 #cache{
	left: 5.05cm;
	top: 1.25cm;
	}




h1, h2, p{
	font-family: 'AtkinsonBold';
	font-size: 19px;
	margin: 0;
}

#text1{
	display: none;
	
}


p{
	
	margin-top: -8px;
}

ul{
	font-size: 16px;
}
.parenthese {
	font-family: 'Sporting'
}
.underline{
	position: relative;
	
}
.underline:after{
	content:'_____________________________';
	font-family: 'Sporting';
	position: absolute;
	top: 0.35rem;
	left: 0;
	font-size: 18px;
}

span.atelier{
	position: relative;
	width: max-content;
}
span.atelier:after{
	    content: 'Atelier';
	    display: block;
    position: absolute;
    right: -35px;
    top: -10px;
    width: 45px;
    height: 18px;
    border: 2px solid var(--text);
    border-radius: 50%;
    background-color:var(--text);
    font-size: 0.85rem;
    text-align: center;
    vertical-align: middle;
    color:white;
    padding-top: 0px;
    line-height: 19px;
    font-size: 12px;
	transform: rotate(15deg);

}

ul:first-of-type span.atelier:after{

	transform: rotate(10deg);
	top: -8px;
	}

	ul:nth-of-type(2) span.atelier:after{
	transform: rotate(-10deg);
	right: 0px;
	top: -14px;
	}
	ul:nth-of-type(3) span.atelier:after{
	top: -7px;
	}

.flyer > .verso{
	padding: 34px;
}



ul, ul h1{
	
	font-size: 16px;
	margin: 0;
	padding: 0;
	font-family: 'AtkinsonBold';
	line-height: calc(var(--lineH) * 1.8);
}


ul li{
list-style-type: none;

}
ul li{
	display: grid;
	grid-template-columns: 1.6cm auto;
    align-items: start;
    grid-column-gap: 0cm;
    

}
ul h1{
 text-align: center;
 font-size: 16px;
 margin-bottom: calc(var(--lineH) * 1.8);

}
.flyer > div.verso{
	padding-top: 28px;
}

ul{
	
	margin-bottom: calc(var(--lineH) *  1.8);
}
ul li span{
	display: inline-block;
}

ul li span:first-of-type{
	
}

ul li span:nth-of-type(2){
	
}

.date{
	
	
	/**/
}
/*.date:before{
	content:"(";
	font-family: 'Sporting';
}

.date:after{
	content:")";
	font-family: 'Sporting';
}*/
#bxl{
	position: absolute;
	top: -0.5cm;
left: 5cm;}
@media print {
  @page{
  	size: 21cm 29.7cm;
  }
}