@font-face {
  font-family: 'AtkinsonBold';
  src: url('fonts/Atkinson-Hyperlegible-Bold-102a.woff2') format('woff2'); /* Legacy iOS */
}

@font-face {
  font-family: 'AtkinsonBoldItalic';
  src: url('fonts/Atkinson-Hyperlegible-BoldItalic-102a.woff2') format('woff2'); /* Legacy iOS */
}

@font-face {
  font-family: 'Atkinson';
  src: url('fonts/Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2'); /* Legacy iOS */
}
@font-face {
  font-family: 'AtkinsonItalic';
  src: url('fonts/Atkinson-Hyperlegible-Italic-102a.woff2') format('woff2'); /* Legacy iOS */
}

@font-face {
  font-family: 'Sporting';
  src: url('fonts/SportingGrotesque-Legible-Bold.woff2') format('woff2'); /* Legacy iOS */
}
*{
	box-sizing: border-box;
}
:root{
	--bg:rgb(255,255,102);
	--bg:white;
	--text:rgb(0, 169, 92);
	/*--text:black;*/
}

html, body{
	margin: 0;
	padding: 0;
	background: lightgrey;
}

.grid{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

.flyer{
	background: white;
	margin: 0 auto;
	width: 21cm;
	height: 29.7cm;
	
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	background-color: var(--bg);
	color: var(--text);
	margin-bottom: 2cm;
	position: relative;

}

#flyer_a5{
	margin: 0 auto;
	width: 21cm;
	height: 14.85cm;
	
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	background-color: var(--bg);
	color: var(--text);
	margin-bottom: 2cm;

}

.flyer > div:not(.grid){

/*border: 1px solid black;*/
height: 100%;
border: 1px solid lightgrey;
border-collapse: collapse;
position: relative;
padding: 22px; /*5mm*/
padding-top: 18px;
box-sizing: border-box;
}

.nuages{
	margin-left: -1cm;
	margin-top: -2.5cm;
}
	
.ascii, .ascii2, .ascii3{
  font-family: monospace;
  font-size: 12px;
  white-space: pre;
}

.ascii{
  margin-left: -7cm;
}

.ascii2{
  transform:translateX(1.2cm);
  margin-top: -2.5cm;
}

.ascii3{
  margin-left: -1.5cm;
  margin-top: -2cm;
}

.theme1, .theme2, .theme3{
  font-family: 'Sporting';
  font-size: 12px;
  position: absolute;
  line-height: 0.45cm;
  margin-top: 2.3cm;
  margin-left: 2.2cm;
}

.theme1{
  margin-top: 3.0cm;
  margin-left: 6.4cm;
}

.theme2{
  margin-top: 2.6cm;
  margin-left: 2.2cm;
}

#head{
	height: 5cm;
	position: relative;
}

#logo{

	width: 80%;
	display: block;
	margin:0 auto;
	margin-top: -12px;
	/*position: absolute;
	left: 1cm;
	top: 1cm;*/
	/*transform:rotate(-20deg);*/
}
#bxl{
	position: absolute;
	top: 0.75cm;
	right: 1cm;
	z-index: 100;
	
	font-size: 16px;
	
}
pre{
	font-size: 18px;
	position: absolute;
	font-family: 'Sporting';
	line-height: 1.3;
	z-index: 10000;
}

#flyer_a5 pre{
	font-size: 16 px;
	line-height: 1.2;
}
pre#pre_1{
	top: 0.25cm;
	left: 0cm;
}
#flyer_a4 > div.recto{
	grid-template-rows: 50% 50%;
	display:grid;
	padding-bottom: 0;
	overflow: hidden;
}
#flyer_a4{
	line-height: 22px;
}

#flyer_a4 > div.recto > div{
	/*border: 1px solid red;*/

}

#flyer_a5 pre#pre_1{

	top: 0.4cm;
	left: 0cm;

}

#cache{
    width: 1.45cm;
    height: 0.6cm;
    background-color: var(--bg);
    position: absolute;
    top: 1.3cm;
    left: 5.4cm;
    display: block;
    border-radius: 19%;
}
#cache2{
	    width: 1cm;
    height: 22px;
    background-color: var(--bg);
    position: absolute;
    top: 11.05cm;
    left: 7cm;
    display: block;
    z-index: 100;
    border-radius: 25%;
}

#flyer_a5 #cache{
	left: 5.05cm;
	top: 1.25cm;
	}

pre#pre_2{
	top: 6cm;
	left: 1cm;
}

pre#pre_3{
	top: 12cm;
	left: 3cm;
}

/*h1{
	font-family: 'Atkinson';
	text-transform: uppercase;
	font-size: 1rem;
	margin:auto;
	text-align: center;

}*/
h1, h2, p{
	margin:0;
}

#text1{
	display: none;
	
}
#flyer_a4 #text{
	font-family: 'AtkinsonBold';
	font-size: 19px;
	padding-top: 21px;
}

#flyer_a5 #text{
	position: absolute;
	bottom: 0.75cm;
	left: 0.75cm;
	width: calc(100% - 1.5cm);
	font-size: 12px;
	font-family: 'AtkinsonBold';
	line-height: 1.2;
}

.flyer > .verso{
	padding: 22px;
}



ul{
	
	font-size: 19px;
	margin: 0;
	padding: 0;
	font-family: 'AtkinsonBold';
}

#flyer_a5 ul{
	font-size: 12px;
}
#flyer_a5 ul h1{
	font-size: 12px;
}

ul li{
list-style-type: none;

}
ul li{
	display: grid;
	grid-template-columns: 1.5cm auto;
    align-items: start;
    grid-column-gap: 0.25cm;
}
ul h1{
 text-align: center;
 font-size: 19px;
 margin-bottom: 22px;
}
ul{
	margin-bottom: 22px;
}
ul li span{
	display: inline-block;
}

ul li span:first-of-type{
	
}

ul li span:nth-of-type(2){
	
}




/*ul li span:nth-of-type(3){
	grid-area: what;
	
}*/

@media print {
  @page{
  	size: 21cm 29.7cm;
  }
}