	<div class="verso">
      <ul>Mercredi 16/11 : Design, numérique & démocratie 
        <li><span>9h30</span><span>Fresque du design éthique</span></li>
        <li><span>13h30</span><span>Agathe Mametz / Designer pour un parti politique</span></li>
        <li><span>14h30</span><span>Tallulah Frappier / Designer le débat dans le numérique</span></li>
          <li><span>16h00</span><span>Laurence Allard / Décolonialisme et numérique</span></li>
          <li><span>17h00</span><span>Design de service public à travers le monde</span></li>
          <li><span>18h10</span><span>La fin de la FING, quelle conclusion en tirer sur la place du numérique dans la démocratie française ?</span></li></ul>

       <ul>Jeudi 17/11 : 
        <li><span>9h30</span><span>Ecoconception</span></li>
        <li><span>13h30</span><span>Timothée Parrique / Économie, décroissance, monde fini</span></li>
        <li><span>14h30</span><span>Quelle bifurcation en design ?</span></li>
          <li><span>16h00</span><span>Ecoconception et après ?</span></li>
          <li><span>17h00</span><span>Raphaëlle Garnier et Claire Deligant Richa / Prospective anthropocène : les matelas</span></li>
          <li><span>18h10</span><span>Comment les designers perçoivent l'idée de la finitude ?</span></li></ul>
        <ul>Vendredi 18/11 : 
        <li><span>9h30</span><span>Fresque du renoncement
</span></li>
        <li><span>13h30</span><span>Technocritique</span></li>
        <li><span>14h30</span><span>Peggy Pierrot / Enseignement, design et logiciels libres ?
</span></li>
          <!-- <li><span>16h00</span><span>Ecoconception et après ?</span></li> -->
          <li><span>17h00</span><span>Design et humanitaire</span></li>
          <li><span>18h10</span><span>Loïc Sécheresse</span></li></ul>

      </ul>

      
    </div>